<div id="main-wrapper">
  <div id="sidebar">
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="assets/logo-b.png" alt="logo">
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to 'About Us', root_path + '#about' %></li>
          <li><%= link_to 'Culture & Principles', root_path + '#culture' %></li>
          <li><%= link_to 'Investment Process', root_path + '#investment' %></li>
          <li><%= link_to 'Leadership', root_path + '#leadership' %></li>
          <li><%= link_to 'Careers', root_path + '#careers' %></li>
          <li><%= link_to 'Contact Us', root_path + '#contact' %></li>
          <li><%= link_to 'Investor Access', root_path + '#client' %></li>
          <li class='active'><%= link_to 'Disclaimer', disclaimer_path %></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </nav>
  </div>

  <div id="container">
    <!-- BEGIN HOME -->
    <section id="about" class="services">
      <div class="row">
        <div class="col-md-12">
          <div class="header-content">
            <h2>Disclaimer</h2>
          </div>
        </div>

        <div class="col-md-12">
          <p class='description'>
            This commentary is provided as general information only and is in no way intended as investment
            advice, investment research, a research report or a recommendation. Any decision to invest or take
            any other action with respect to the securities discussed in this commentary may involve risks not
            discussed herein and such decisions should not be based solely on the information contained in this
            document. It should not be assumed that any securities discussed in this commentary will increase
            in value. BlackVault Fund, L.P. (“BlackVault Investments”)[1] will not accept liability for any loss or
            damage, including, without limitation, any loss of profit that may arise directly or indirectly from use
            of or reliance on such information.
          </p>

          <p>
            Statements in this communication may include forward-looking information and/or may be based on
            various assumptions. The forward-looking statements and other views or opinions expressed herein
            are made as of the date of this publication. Actual future results or occurrences may differ
            significantly from those anticipated and there is no guarantee that any particular outcome will come
            to pass. The statements made herein are subject to change at any time. BlackVault Investments
            disclaims any obligation to update or revise any statements or views expressed herein.
            In considering any performance information included in this commentary, it should be noted that past
            performance is not a guarantee of future results and there can be no assurance that future results
            will be realized. Nothing contained herein should be deemed to be a prediction, projection or
            guarantee of future performance.
          </p>

          <p>
            No representation or warranty is made concerning the completeness or accuracy of the information
            contained herein. Some or all of the information provided herein may be or be based on statements
            of opinion. In addition, certain information provided herein may be based on third-party sources,
            which information, although believed to be accurate, has not been independently verified.
          </p>

          <p>
            BlackVault Investments and/or certain of its affiliates and/or clients hold and may, in the future, hold
            a financial interest in securities that are the same as or substantially similar to the securities
            discussed in this commentary. No claims are made as to the profitability of such financial interests,
            now, in the past or in the future and BlackVault Investments and/or its clients may sell such financial
            interests at any time.
          </p>

          <p>
            The information provided herein is not intended to be, nor should it be construed as an offer to sell or
            a solicitation of any offer to buy any securities. This commentary has not been reviewed or approved
            by any regulatory authority and has been prepared without regard to the individual financial
            circumstances or objectives of persons who may receive it. The appropriateness of a particular
            investment or strategy will depend on an investor’s individual circumstances and objectives.
            BlackVault Investments encourages any person considering any action relating to the securities
            discussed herein to seek the advice of a financial advisor.
          </p>
        </div>
      </div>
    </section>

    <section id="about" class="services odd">
      <div class="row">
        <div class="col-md-12">
          <div class="header-content">
            <h2>Disclosure</h2>
          </div>
        </div>

        <div class="col-md-12">
          <p class='description'>
            The information contained herein does not constitute a distribution, an offer to sell or the solicitation
            to buy any securities in any jurisdiction in which such distribution or offer is not authorized.  In
            particular, the information herein is not for distribution and does not constitute an offer to sell or the
            solicitation of any offer to buy any securities in the United State (“US”) to or for the benefit of any US
            person (being residents of the US or partnerships or corporations organized under the laws of the
            US).
          </p>

          <p>
            * NOT FDIC INSURED * May lose value * No bank guarantee. * Past performance is not indicative
            of future results. *
            [1] Includes BlackVault Fund, L.P. and its affiliated advisers
          </p>
        </div>
      </div>
    </section>

    <footer>
      <div class="row">
        <div class="col-md-12">
          <p>
            Copyright © 2015 <strong>BlackVault Investments LLP</strong>. All rights reserved.
          </p>
        </div>
      </div>
    </footer>
  </div>
</div>
