<div id="loader"></div>

<div id="main-wrapper">
  <div id="sidebar">
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="assets/logo-b.png" alt="logo">
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a class="sscroll" href="#about">About Us</a>
            <!-- <ul class="left-sub-ul">
              <li class="left-sub-li">Our Partners</li>
            </ul> -->
          </li>
          <li><a class="sscroll" href="#culture">Culture & Principles</a></li>
          <li><a class="sscroll" href="#investment">Investment Process</a></li>
          <li><a class="sscroll" href="#leadership">Leadership</a></li>
          <li><a class="sscroll" href="#careers">Careers</a></li>
          <li><a class="" href="#contact">Contact Us</a></li>
          <li><a class="sscroll" href="#client">Investor Access</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </nav>
  </div>

  <div id="container">
    <!-- BEGIN HOME -->
    <section id="home" class="home">
      <!-- Superslides -->
      <div id="home-slide">
        <ul class="slides-container text-center">
          <li>
            <div class="slide-text">
              <h1>BlackVault Investments</h1>
              <span>A Silicon Valley startup.</span>
              <br/>
            </div>
            <div class="slide-filter">
              <%= video_tag "/assets/12469833.mp4", class: "bg-parallax parallaxize video", id: "video" %>
              <script>
                jQuery( document ).ready(function($) {
                  $('video').get(0).play()
                  $('video').get(1).play()
                  $('video').get(2).play()
                  $('video').get(3).play()
                });
              </script>
            </div>
          </li>
          <li>
            <div class="slide-text">
              <h1>Our Goal</h1>
              <span>Beat the market - protect investor assets</span>
              <br/>
            </div>
            <div class="slide-filter">
              <%= video_tag "/assets/52879906.mp4", class: "bg-parallax parallaxize", autoplay: true, autobuffer: true, controls: true, loop: true, muted: true %>
            </div>
          </li>
          <li>
            <div class="slide-text">
              <h1>Our Creed</h1>
              <span>Investor interests and peace of mind trumps all</span>
              <br/>
            </div>
            <div class="slide-filter">
              <%= video_tag "/assets/shutterstock_v671617.mov", class: "bg-parallax parallaxize", autoplay: true, autobuffer: true, controls: true, loop: true, muted: true %>
            </div>
          </li>
          <li>
            <div class="slide-text">
              <h1>Our Strategy</h1>
              <span>Seek value and growth opportunities across all global regions and sectors</span>
              <br/>
            </div>
            <div class="slide-filter">
              <%= video_tag "/assets/62275358.mp4", class: "bg-parallax parallaxize", autoplay: true, autobuffer: true, controls: true, loop: true, muted: true %>
            </div>
          </li>
        </ul>
      </div>
      <!-- End of Superslide -->
    </section>
    <!-- END HOME -->

    <!-- BEGIN SERVICES -->
    <section id="about" class="services odd">
      <div class="row">
        <div class="col-md-12">
          <div class="header-content">
            <h2>About Us</h2>
          </div>
        </div>

        <div class="col-md-12">
          <p class='description'>
            Our company grew out of a frustration from watching asset management companies
            making exorbitant profits while acting against the best interests of their investors. BlackVault
            Investments is a hedge fund startup out of Silicon Valley, that in true Silicon Valley fashion, aims
            to bring ethics and morality back in to the finance industry.  We recognize the importance of
            manager-investor relationships and the need for them to be a good fit for each other. It is
            because of this that we are very selective in choosing our investors. However, once taken on, our
            investors can rest easy knowing that their managers are working hard to make sure that investors’
            assets are well protected and the investor's aims for growth are achieved. We also believe in
            making sure our investors are as comfortable as possible, and we do everything we can to make
            the on-boarding process as smooth as possible. Once on board, investors can directly contact
            their managers. Our goal is to put our investors’ mind at ease as they know that their assets are
            protected even during the harshest economic or market conditions. Additionally, where other
            funds typically look at specific sectors or markets and may be extremely localized to a certain
            country or region, our fund looks for value across all corners of the globe from developed
            markets such as the United States and Europe to emerging markets such as China and India.
          </p>
        </div>

        <div class="col-md-12">
          <div class="row">
            <div class="col-md-8 mg-bt-80">
              <h3>Our Partners</h3>
              <ul class="list athelas">
                <li>Prime brokerage services provided by:
                  <ul class="sub-ul">
                    <li>Morgan Stanley</li>
                    <li>Cantor Fitzgerald</li>
                  </ul>
                </li>
                <li>Accounting and Tax services provided by:
                  <ul class="sub-ul">
                    <li>KPMG</li>
                  </ul>
                </li>
                <li>Data services provided by:
                  <ul class="sub-ul">
                    <li>Thomson Reuters Eikon</li>
                  </ul>
                </li>
                <li>Legal services provided by:
                  <ul class="sub-ul">
                    <li>Akin Gump Strauss Hauer & Feld</li>
                  </ul>
                </li>
                <li>Administrative services provided by:
                  <ul class="sub-ul">
                    <li>Akram & Associates PLLC</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </section>
    <!-- END SERVICES -->

    <section id="testimonial" class="testimonial">
      <div class="row">
        <div class="col-md-12">
          <div class="icon-testimonial">
            <i class="fa fa-quote-right"></i>
          </div>
          <div id="quote-slider" class="mg-bt-80">
            <ul class='athelas'>
              <li>
                <h3>
                  Our company grew out of frustration from watching asset managers
                  acting in their own interest while tremendously harming their
                  investors’ assets
                </h3>
                <span>
                  &mdash;
                  <strong>BlackVault Investments</strong>, CEO Omesh Francis
                </span>
              </li>
              <li>
                <h3>
                  Our fund values responsible investment and asset management as
                  opposed to the “reckless aggressiveness” which has become the norm in
                  the asset management industry
                </h3>
                <span>
                  &mdash;
                  <strong>BlackVault Investments</strong>, CIO Nima Karamlou
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- BEGIN PORTFOLIO -->
    <section id="culture" class="portfolio odd">
      <div class="row">
        <div class="col-md-12">
          <div class="header-content">
            <h2>Cultures and Principles</h2>
          </div>
        </div>

        <div class="col-md-12 mg-bt-80">
          <p class='description'>
            We grew out of Silicon Valley with one aim, to bring back morals and ethics to the
            finance industry. Our company built its foundation out of a frustration from watching
            asset managers acting selfishly and hurting their investors tremendously. Consequently,
            we consider it safe to say that we are one of the most, if not the most, ethical and
            principled-laden financial management firms out there. Our foundation is built upon
            ethics in which the investors’ best interests and our managers’ aims are aligned. We are
            extremely opposed to what we call “reckless aggressiveness”, in which a fund may post
            exorbitant returns one year and tout it as a major success and then fail to address the
            fact that their aggressiveness also led to losses during a larger number of years. While
            this has become the norm in the asset management industry, our fund values
            responsible investment and asset management. Rather than posting exorbitant returns,
            we aim to deliver consistent returns to our investors, ensuring long-term performance as
            opposed to possible investments in other overly aggressive funds. Our goal at
            BlackVault Investments is simple: beat the market while protecting investors’ assets. Our
            creed is investor interests trump all. This gives us the confidence to open our doors
            completely to investors to communicate with their respective portfolio managers about
            their asset’s performance at any given time.
          </p>
        </div>
      </div>
    </section>
    <!-- END PORTFOLIO -->

    <!-- BEGIN TESTIMONIAL -->
    <section id="investment" class="services">
      <div class="row">
        <div class="col-md-12">
          <div class="header-content">
            <h2>Investment Process</h2>
          </div>
        </div>

        <div class="col-md-12 mg-bt-80 athelas">
          <p>
              We live in an ever-evolving world where markets are dynamic and expanding. Our
            team emphasizes the concept of globalization and following business trends as it is
            fundamental in our value-growth based approach. Most asset managers focus on very
            specific and limited regions or sectors. We find this to be constrictive and amateur as
            they often ignore market dynamics while also missing key opportunities in unexplored
            fields. We, however, utilize our unique combination of sophisticated and proven arbitrage
            strategies to expose market inefficiencies and access strategic, diverse, and global
            opportunities.
          </p>
          <p>
              Our strategy combines value and growth sectors and regions, packaging them
            together in a risk-averse asset allocation to deliver consistent, long-term returns. We
            consider top and bottom fundamental analytics as well as technical analytics to select
            potential investments. Our process evaluates companies through two proven methods:
            comparable companies and DCF. We utilize these metrics in tandem to both select
            investments and determine entry and exit points. We not only analyze value
            opportunities, but also growth opportunities. This unique blend gives us an advantage
            over many other value or growth-driven managers as it allows us to remain more
            diversified and more risk-averse.
          </p>
          <p>
              The significance of employing this approach, particularly without the constraints of
            silos or arbitrary limitations, is that we uncover an uncommon pool of opportunities,
            which we believe has little overlap with other asset managers. We believe that our
            investors are specifically drawn to our differentiated approach and portfolios. Over time,
            this has given us the added advantage of a committed investor base that has allowed us
            to see events through to their resolution.
          </p>
        </div>
      </div>
    </section>
    <!-- END TESTIMONIAL -->

    <!-- BEGIN ABOUT -->
    <section id="leadership" class="about odd">
      <div class="row">
        <div class="col-md-12">
          <div class="header-content">
            <h2>Leadership</h2>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="row mg-bt-40">
            <div class="col-md-6">
              <div class="teams">
                <div class="desc">
                  <h3><strong>Omesh Francis</strong></h3>

                  <span>Chief Executive Officer</span>

                  <div class='athelas'>
                    <p>
                      Mr. Omesh Francis headed the launch and growth of BlackVault
                      Investments and currently serves in it as Chief Executive Officer. He
                      supervises the firm’s aggregate portfolio and investment decision as managing
                      partner. He specializes in business strategy and development and manages the
                      firm’s alternative investment portfolio.
                    </p>

                    <p>
                      Before BlackVault Investments, Mr. Francis successfully launched a number of
                      companies in a diverse range of industries from entertainment and media to
                      logistics and retail. He is the co-founder and director of the Merritt College
                      Investors organization where he helped develop an agenda and lead instruction
                      regarding alternative investments.
                    </p>

                    <p>
                      Mr. Francis also currently serves as Chief Executive Officer in “Beopar
                      Enterprises Pvt. Ltd.”, an import-export and retail company that operates in
                      Pakistan and Sri Lanka. He is currently overseeing the company’s expansion
                      into the USA.
                    </p>

                    <p>
                      Mr. Francis is a Computer Science major at Berkeley City College, planning to
                      transfer to UC Berkeley’s College of Letter and Sciences in the fall of 2016.
                    </p>
                    <p>&nbsp;</p>
                  </div>

                  <div class="social">
                    <a href="https://www.linkedin.com/in/omeshfrancis"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="teams">
                <div class="desc">
                  <h3>Nima Karamlou</h3>

                  <span>Chief Investment Officer</span>

                  <div class='athelas'>
                    <p>
                      Nima N. Karamlou is the Chief Investment Officer and Co-Founder of BlackVault. Mr.
                      Karamlou has been involved in all phases of the firm’s developments and currently manages
                      the firm’s aggregate portfolio. He has been the principal director of investment decision, and
                      oversees in global equities, credit, derivatives, commodity markets, and alternative
                      investments.
                    </p>

                    <p>
                      Before BlackVault, Mr. Karamlou was a student at the investment banking institute
                      leading instruction in topics ranging from valuation methodologies to M&A and LBO deal
                      constructions. He also serves as the Chairman and Founder of the Merritt College Investors
                      Organization, which is a student run club designed to connect students to the diverse capital
                      markets. He also was an intern at UCSF Medical Research Center assisting in experiment
                      development and presentation.
                    </p>

                    <p>
                      Mr. Karamlou is also an active member of the medical community and dwas
                      responsible for raising money for the Leukemia & Lymphoma Society.
                    </p>

                    <p>
                      Mr. Karamlou is a business major at Laney College planning to transfer to UC
                      Berkeley’s Haas Business School in the fall of 2016. He is currently a Phi Theta Kappa
                      Honors member and plans to transfer in the Spring of 2015.
                    </p>
                  </div>

                  <div class="social">
                    <a href="https://www.linkedin.com/in/nimakaramlou"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END ABOUT -->

    <!-- BEGIN BLOG -->
    <section id="careers" class="blog-front">
      <div class="row">
        <div class="col-md-12">
          <div class="header-content">
            <h2>Careers</h2>
          </div>
          <p class='description'>
            At BlackVault Investments, we believe in quality over quantity. As such, our team is
            purposely kept small but highly skilled with most of our team members often taking on
            diverse and multifaceted assignments. Therefore, we are extremely selective, and
            applicants are heavily vetted to ensure their skill set and attributes not only benefits the
            firm, but also fits the company’s collaborative culture. If you believe you can further our
            firm’s goals, please submit an updated CV and cover letter.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-md-8">
          <%= form_tag({controller: 'pages', action: 'careers'}, method: :post, class: "nifty_form", role: 'form') do %>
            <div class="form-group row">
              <div class="col-md-8">
                <%= text_field_tag(:name, nil, required: true, class: 'form-control', placeholder: 'Name') %>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-8">
                <%= email_field_tag(:email, nil, required: true, class: 'form-control', placeholder: 'Email') %>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-lg-11">
                <%= text_area_tag(:body, nil, required: true, class: 'form-control', placeholder: 'Details', rows: 10) %>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-lg-11">
                <span class="btn btn-dark btn-file">
                  Choose File..
                  <%= file_field_tag(:attachment, required: true, accept: '.pdf') %>
                </span>
              </div>
            </div>
            <br/>
            <button type="submit" class="btn btn-dark big submit">Submit</button>
          <% end %>
        </div>
      </div>
    </section>
    <!-- END BLOG -->

    <!-- BEGIN CONTACT -->
    <section id="contact" class="contact odd">
      <div class="row">
        <div class="col-md-12">
          <div class="header-content">
            <h2>Contact Us</h2>
            </h3>
          </div>
          <p class='description'>
            We are excited to discuss our asset management solutions, capabilities, and other
            financial solutions with you in more detail. Please send us an email or fill out the form given
            below.
          </p>
          <p>
            <strong>Email: contact.us@blackvaultinvestments.com</strong>
          </p>
        </div>

        <div class="col-sm-6 col-md-8">
          <%= form_tag({controller: 'pages', action: 'contact'}, method: :post, class: "nifty_form", role: 'form') do %>
            <div class="form-group row">
              <div class="col-md-8">
                <%= text_field_tag(:name, nil, required: true, class: 'form-control', placeholder: 'Name') %>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-8">
                <%= email_field_tag(:email, nil, required: true, class: 'form-control', placeholder: 'Email') %>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-8">
                <%= text_field_tag(:subject, nil, required: true, class: 'form-control', placeholder: 'Subject') %>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-lg-11">
                <%= text_area_tag(:body, nil, required: true, class: 'form-control', placeholder: 'Details', rows: 10) %>
              </div>
            </div>
            <br/>
            <button type="submit" class="btn btn-dark big submit">Send Mail</button>
          <% end %>
          <ul class='ul-no-padding athelas no-bullet'>
            <li>
              Existing investors, please contact your investor manager directly through any of
              the means listed on your partnership agreement, or login to the investor portal on our
              website.
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!-- END CONTACT -->

    <!-- BEGIN Example Section -->
    <section>
      <div class="row">
        <div class="col-md-12">
          <ul class="social-icon">
            <li><a href="https://facebook.com/blackvaultinvt"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/BlackVaultInvt"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/company/blackvault-investments"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </section>
    <!-- END Example Section -->

    <!-- BEGIN client -->
    <section id="client" class="blog-front odd">
      <div class="row">
        <div class="col-md-12">
          <div class="header-content">
            <h2>Investor Access</h2>
          </div>
          <p class='description'>
            This portion of the website is by invitation only and solely for investors. Current
            investors please use the login information provided to you by your respective manager. If
            you are a current investor and have not received any login information, please reach out
            to your respective manager and we will generate your login information for you as soon
            as possible.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-md-8">
          <%= form_tag('#', method: :post, class: "nifty_form", role: 'form') do %>
            <div class="form-group row">
              <div class="col-md-8">
                <%= text_field_tag(:username, nil, required: true, class: 'form-control col-md-6', placeholder: 'Username') %>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-8">
                <%= password_field_tag(:password, nil, required: true, class: 'form-control col-md-6', placeholder: 'Password') %>
              </div>
            </div>
            <br/>
            <button type="submit" class="btn btn-dark big submit">Sign In</button>
          <% end %>
        </div>
      </div>
    </section>

    <!-- BEGIN FOOTER -->
    <footer>
      <div class="row">
        <div class="col-md-12">
          <p>
            Copyright © 2015 <strong>BlackVault Investments LLP</strong>. All rights reserved.
          </p>
        </div>
      </div>
    </footer>
    <!-- END FOOTER -->
  </div>
</div>

<div class="totop" id="backtotop">
    <span>
        <a href="#home" class="first sscroll"><i class="fa fa-angle-up"></i></a>
        <a href="#home" class="hover sscroll"><i class="fa fa-angle-up"></i></a>
    </span>
</div>
